body {
  background: linear-gradient(6deg, rgb(26, 33, 83) 0%, rgb(70, 81, 163) 100%);
  background: linear-gradient(
    6deg,
    rgb(22, 26, 58) 0%,
    rgba(28, 19, 90, 0.767) 100%
  );
}

.weather {
  max-width: 700px;
  border-radius: 20px;
  padding: 40px;
  display: block;
  margin: 90px auto 90px;
  font-family: Arial, Helvetica, sans-serif;
  height: 580px;
  color: white;
  background: #272044;
  background: linear-gradient(to bottom, #120f2f, #23174b, #24243e);
  background: rgba(35, 15, 69, 0.388);
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 20%);
}

.temperature {
  font-size: 72px;
  padding: 0 20px 0 10px;
  margin-top: 40px;
}

.weather-section {
  display: flex;
  justify-content: space-between;
}

.current-weather {
  align-items: center;
  display: flex;
}

.city {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
  color: white;
  font-family: "Albert Sans", sans-serif;
}

.time {
  margin-left: 2px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2px;
  margin-top: 20px;
  font-size: 14px;
  color: rgba(241, 241, 241, 0.856);
}

.description {
  margin-left: 25px;
  margin-top: -20px;
  font-weight: bold;
}

.icon {
  margin-top: 10px;
}

.forecast-weather {
  border-radius: 20px;
  margin-top: 50px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.forecast-day {
  margin-left: 30px;
  margin-bottom: -10px;
}

.forecast-temperature {
  margin-left: 20px;
  margin-top: -10px;
  padding: 0;
}

.search {
  padding-top: 30px;
  padding-bottom: 10px;
}

#search-city {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: white;
}

.search-button,
.current-button {
  background: rgb(22, 135, 172);
  border: none;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

.current-button {
  width: 160px;
  background: rgb(251, 92, 141);
  margin-left: -20px;
}

.footer {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 50px;
  text-align: center;
}
.footer a {
  color: rgb(34, 177, 225);
  text-decoration: none;
}
