main {
  display: block;
}

.weather {
  border: 1px solid black;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 90px;
}

.temperature {
  font-size: 72px;
  padding: 0 20px 0 10px;
  margin-bottom: 10px;
}

.weather-section {
  display: flex;
  justify-content: space-between;
}

.current-weather {
  align-items: center;
  display: flex;
}

.city {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description {
  margin-left: 25px;
  margin-top: -20px;
}

.icon {
  margin-top: 10px;
}

.forecast-weather {
  margin-bottom: 120px;
  padding-top: 10px;
}

.forecast-day {
  margin: 40px 30px;
  margin-bottom: -10px;
}

.forecast-temperature {
  margin-left: 20px;
  margin-top: -10px;
}

.search {
  padding-top: 30px;
  padding-bottom: 10px;
}
