body {
  background: linear-gradient(
    6deg,
    rgb(22, 26, 58) 0%,
    rgba(28, 19, 90, 0.767) 100%
  );
  font-family: "Albert Sans", sans-serif;
}

.weather {
  max-width: 700px;
  border-radius: 20px;
  padding: 40px;
  display: block;
  margin: 80px auto 80px;
  font-family: Arial, Helvetica, sans-serif;
  height: 600px;
  color: white;
  background: linear-gradient(to bottom, #2f2653, #2a1f4f, #232347);
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 20%);
}

.temperature {
  font-size: 72px;
  padding: 0 20px 0 10px;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
}

.weather-section {
  display: flex;
  justify-content: space-between;
}

.current-weather {
  align-items: center;
  display: flex;
}

.city {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
}

.time {
  margin-left: 2px;
  color: rgba(241, 241, 241, 0.856);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2px;
  margin-top: 20px;
  font-size: 14px;
  color: rgba(241, 241, 241, 0.856);
}

.description {
  font-weight: bold;
  font-size: 20px;
  font-family: "Albert Sans", sans-serif;
  margin-left: 22px;
  opacity: 0.8;
}

.icon {
  margin-top: 20px;
}

.forecast-weather {
  border-radius: 20px;
  margin-top: 40px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.forecast-day {
  margin-left: 35px;
  margin-bottom: -10px;
}

.forecast-temperature {
  margin-left: 24px;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
}

.forecast-temperature-min {
  margin-left: 8px;
  opacity: 0.6;
}

.search {
  padding-top: 30px;
  padding-bottom: 10px;
}

input.search-city {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: white;
  margin-top: 2px;
}

input[type="text"]:focus {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 2px solid rgb(214, 67, 111);
}

.search-button {
  background: none;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  color: rgb(0, 187, 203);
  font-size: 16px;
  font-family: "Albert Sans", sans-serif;
  transition: ease-in 70ms;
  border: 2px solid rgb(0, 187, 203);
}
.search-button:hover {
  border: 2px solid rgb(0, 187, 203);
  background: rgb(0, 187, 203);
  color: white;
}

.footer {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 40px;
  text-align: center;
}
.footer a {
  color: rgb(0, 187, 203);
  text-decoration: none;
}
.footer a:hover {
  color: rgb(214, 67, 111);
}
